<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenue sur la page de The Gossip Project</h1>
    <p class="lead">Découvrez notre page dédiée aux potins de The Hacking Project</p>
    <div class="zone_container container1">
      <button type="button" class="btn btn-primary">Un premier bouton qui peut servir</button>
      <button type="button" class="btn btn-secondary">Un deuxième bouton au cas où aussi</button>
    </div>
  </div>
</div>




<h1> La liste des Gossips! </h1>


<!-- je récupère mes author et titre de chaque gossips. -->
<% @gossips.each do |gossip| %>
<center>
<div class="card" style="width: 18rem; text-align:center;">
  <img class="card-img-top" src="https://is3-ssl.mzstatic.com/image/thumb/Podcasts113/v4/dc/27/a1/dc27a1eb-2307-fe47-342e-6fb84618f5a8/mza_8792713575073991728.jpg/600x600bb.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"> <%= gossip.title %> </p>
    <p class="card-text"><%  a = gossip.user_id %> Gossipeur : <%= @users.find(a).first_name %></p>

    <!-- Dans la ligne suivante, gossip_path est le chemin pour aller sur la view 'show' pour afficher un gossip en particulier. gossip_path(gossip_id) permet de transmettre l'id du gossip. On va pouvoir utiliser cet id dans la view 'show' du gossip.-->
    
    <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">SEE THIS GOSSIP!</a>
  </div>
</div>
<br>
</center>
<% end %>
